* {
    background-color: turquoise;
    box-sizing: border-box;
}

.form-content {
    background-color: white;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    background-color: white;
    border-radius: 8.7px;
}

.title-content h1 {
    color: purple;
}